@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SiteSettings>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}

<footer b-ss9879bxrr class="bg-white footer text-muted">
    <div b-ss9879bxrr class="container">
        <p>&copy; @DateTime.Now.Year - @Model.Copyright</p>
    </div>
</footer>