<?xml version="1.0" encoding="utf-8"?>
<Content Key="0eefeb8d-1295-4344-a445-ade8541e108a" Alias="Contact" Level="3">
  <Info>
    <Parent Key="99a537a8-9296-4f7b-86ed-73337e53aaab">Form - Contact Us</Parent>
    <Path>/Home/FormContactUs/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2024-07-08T14:18:49</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b170411b70354e71853541175c17935e",
        "settingsUdi": "umb://element/a239bece56674b0093e57141b2829e29",
        "areas": [
          {
            "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "udi": "umb://element/b170411b70354e71853541175c17935e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/a239bece56674b0093e57141b2829e29",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "",
      "layoutSettingsColourOpacity": "",
      "layoutAreasColourPicker": "",
      "layoutSettingsBackgroundImagePicker": []
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Contact Vicki Modisette
]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Contact Vicki Modisette]]></Value>
    </pageTitleShort>
  </Properties>
</Content>